/* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
     margin-bottom: 0;
      border-radius: 0;
      z-index: 1;
      height: 52px;
      background-color: #555;
      color: #fff;
      a{
        margin-left: -15px;
        color: yellow!important;
        font-weight: 700;
        letter-spacing: 1.25px;
      }
   }

   /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   .row.content {
     position: absolute;
      bottom: 0;
      top: 53px;
      width: 100%;

   }

   /* Set gray background color and 100% height */
   .sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
     text-align: left;
   }
